workflow.json
{
  "name": "email automation agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "maxResults": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -16
      ],
      "id": "7d6ab3ec-c3ee-4c12-ae85-eb61c7ace46c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1OZYAZ3QK1tTgY7o",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        -16
      ],
      "id": "b79eddd0-9e97-4be6-a1ab-bd5000c240ff",
      "name": "Get a message",
      "webhookId": "1540f88d-caff-4e8f-8da6-aa0418a1e08d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1OZYAZ3QK1tTgY7o",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Email Assistant.\n\nYour task is to analyze an email and return ONLY a JSON object with:\n- category\n- priority\n- summary\n\nClassify emails using these rules:\n\nHIGH:\nEmails that require immediate attention or have significant consequences if ignored.\nExamples:\n- Job interview today or requiring confirmation within 24 hours\n- Security alerts\n- Password reset requests\n- Account suspension or verification issues\n- Client escalations or urgent customer complaints\n- Production/server outages\n- Payment overdue\n- Legal notices\n- Time-sensitive deadlines\n\nMEDIUM:\nEmails that are important and require action, but not immediately.\nExamples:\n- Team meetings\n- Client meetings\n- Performance review meetings\n- Project updates\n- Interview invitations scheduled for future dates\n- Invoices (not overdue)\n- Document approval requests\n- Task assignments\n- HR communications\n- Internal company announcements requiring acknowledgement\n\nLOW:\nEmails that are informational or promotional and require little or no action.\nExamples:\n- Newsletters\n- Promotions\n- Discount offers\n- Marketing emails\n- Social media notifications\n- Blog updates\n- Event advertisements\n- Product recommendations\n\nInstructions:\n1. Determine the most appropriate category.\n2. Generate a concise summary in 1-2 sentences.\n3. Assign ONLY one priority: HIGH, MEDIUM, or LOW.\n4. Do not classify based only on words like \"urgent\". Consider the overall meaning, required action, deadline, and business impact.\n5. If an email requests action but there is no immediate deadline, classify it as MEDIUM.\n\n\nEmail:\n\nFrom:\n{{ $('Get a message').item.json.from }}\n\nSubject:\n{{ $('Get a message').item.json.subject }}\n\nBody:\n{{ $('Get a message').item.json.text }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -16
      ],
      "id": "88bab52c-17ca-47e7-9adf-e2c6e103c813",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"Job Opportunity\",\n  \"priority\": \"High\",\n  \"summary\": \"Google recruiter invited you for a technical interview.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "4c937c09-b25f-4ecf-98f0-9963293b6d72",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "HIGH",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb30cb22-36d0-4c3d-bf8d-bd3773fad333"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "04dd8baa-7ec2-4211-a30a-c023f85f6d40",
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "MEDIUM",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9acf08e6-5fc0-4b38-a433-7d0143581fd2",
                    "leftValue": "={{ $json.output.priority }}",
                    "rightValue": "=LOW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        640,
        -32
      ],
      "id": "048fcde6-5355-4330-8fd1-27b805569107",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1194090067127330",
        "recipientPhoneNumber": "+91 9104070077",
        "textBody": "=🚨 HIGH PRIORITY EMAIL\n\n📌 Subject:\n{{ $('Get a message').item.json.subject }}\n\n📧 From:\n{{ $('Get a message').item.json.headers.from }}\n\n📂 Category:\n{{ $('AI Agent').item.json.output.category }}\n\n📝 Summary:\n{{ $('AI Agent').item.json.output.summary }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        864,
        -208
      ],
      "id": "48053781-e4e7-4983-b44d-b7e0a078323a",
      "name": "Send message",
      "webhookId": "7ea7fa52-de06-4468-baf3-e7b0e3dc4efd",
      "credentials": {
        "whatsAppApi": {
          "id": "YBFxFxvfpjd1Bnjs",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vw9IUz32K3w4ClrqphfHowHKceRyAKpX0WNOq5BojWI",
          "mode": "list",
          "cachedResultName": "AI Email log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vw9IUz32K3w4ClrqphfHowHKceRyAKpX0WNOq5BojWI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1592664060,
          "mode": "list",
          "cachedResultName": "emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vw9IUz32K3w4ClrqphfHowHKceRyAKpX0WNOq5BojWI/edit#gid=1592664060"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender": "={{ $('Get a message').item.json.from.value[0].address }}",
            "Subject": "={{ $('Get a message').item.json.headers.subject }}",
            "Category": "={{ $json.output.category }}",
            "Summary": "={{ $json.output.summary }}",
            "Timestamp": "={{ DateTime.fromISO($('Get a message').item.json.date).setZone('Asia/Kolkata').toFormat('dd-MM-yyyy HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -16
      ],
      "id": "c7812f85-510e-4404-a9cb-297539160626",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPWRTez9W9kcsR3N",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "829c640d-8307-425e-95fc-f6003f3105e6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "3xLQ8GUyNRFXPpig",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get a message').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -16
      ],
      "id": "ea3492a7-ea3c-476f-9c17-353bfe855462",
      "name": "Mark a message as read",
      "webhookId": "c84dd436-b5fb-4baa-86ec-3e682dcbc0a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "1OZYAZ3QK1tTgY7o",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": [
          "Label_850113033019532088"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        176
      ],
      "id": "c99a821d-3b6c-4884-90c6-17f727703c7f",
      "name": "Add label to message",
      "webhookId": "b4589370-2372-40f5-8bc4-4d7dab98f930",
      "credentials": {
        "gmailOAuth2": {
          "id": "1OZYAZ3QK1tTgY7o",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6661d9c7-670a-4a6c-b6cd-eabd1ec75cba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd9a9242f637d878df423439a9a3407c45f900f9975869f62df331667ef1b3a7"
  },
  "nodeGroups": [],
  "id": "ftlBlSek7Hyvo0uV",
  "tags": []
}
